h1 {
    color: red !important
}
ul li {
    front-size" large;
}
ul li:fiest-child {
    front-size:large
}

a:visited{
    color: deeppink;
}

a:hover{
    font-size: x-large;
}

a:active {
    color: aqua"
}
#hide {
    display: none;
    background-color: pink;
    padding: 20px;
}

div#magic:hover p#hide { 
    display: block;
}
ul li:nth-child(1)::first-letter {
    color: blue;
    font-size: xx-large:

}
p, li {
    font-family: "Comic Sans MS";
}